[Unit]
Description=PerfPilot server test stack
Wants=perfpilot-smartperfetto.service perfpilot-api.service perfpilot-web.service perfpilot-gateway.service

[Install]
WantedBy=default.target
